.game-container {
  margin: auto 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.game-board {
  width: 100%;
  margin: auto 0;
  display: grid;
  justify-content: center;
}

.grid-cell {
  height: 2rem;
  width: 2rem;
}

.ships-display {
  display: flex;
  min-height: 4em;
  gap: 1em;
}

.ship-btn {
  max-height: 2em;
}

.ship-cell {
  background-color: steelblue;
  border: 1px solid navy;
}

.hit-cell {
  background-color: red;
  padding: 0;
}

.miss-cell {
  background-color: blue;
}
